.buttons {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic), color 250ms var(--cubic);

  &:focus,
  &:hover{
    @include active-button
  }

}

.active-button {
  @include active-button
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item:nth-child(-n + 3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}